.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

span .label {
  background: red
}

div .ui-tab-head {
  display: flex;
  flex-direction: row;
}

div .ui-tab-tab {
  min-width: 80px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

div .ui-content-list-container {
  display: flex;
  flex-direction: row;
}