.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

span .label {
  background: red
}

/* Tab */
div.ui-tab-head {
  display: flex;
  flex-direction: row;
}

div.ui-tab-tab {
  min-width: 80px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.2rem;
  border: 1px solid gray;
  background-color: lightgray;
  position: relative;
  bottom: -1px;
}

div.ui-tab-tab.selected {
  background-color: white;
  border-bottom: 0;
}

div.ui-tab-content {
  padding: 8px;
  border-top: 1px solid gray;
}

/* Content List */
div.ui-content-list--container {
  display: flex;
  flex-direction: row;
}

input.ui-content-list--search-input {
  margin-right: 10px;
  width: 120px;
}

ul.ui-content-list--list {
  border: 1px solid gray;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  width: 120px;
}

ul.ui-content-list--list li {
  border-bottom: 1px solid gray;
  padding-left: 0.2rem;
  list-style: none;
}

ul.ui-content-list--list li:last-child {
  border-bottom: 0;
}

ul.ui-content-list--list li.selected {
  background-color: lightblue;
}

.ui-content-list--button-area {
  margin-top: 5px;
}

.ui-content-list--button-area input {
  margin-right: 5px;
}

/* Form */
div.ui-form--row {
  display: flex;
  flex-direction: row;
}

div.ui-form--row-label {
  width: 100px;
  text-align: right;
  padding-right: 0.5rem;
  background-color: #dddddd;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 2px;
}

div.ui-form--row-content {
  padding-left: 0.5rem;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* Root */
div.ui-root--modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-content: center;
}

div.ui-root-modal-content {
  width: 80%;
  height: 80%;
  background-color: white;
  border: 1px solid gray;
}
